## Agregación de Datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [3]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [4]:
n = 500
gender_data = []
income_data = []

for i in range(500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [7]:
gender_data[:10]

['Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male']

In [8]:
income_data[:10]

['Rich',
 'Rich',
 'Poor',
 'Poor',
 'Middle Class',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Middle Class']

In [9]:
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [10]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Age" : age,
        "Income" : income
    }
)

In [11]:
data.head()

   Gender Economic Status      Height        Age        Income
0    Male            Rich  181.406969  29.235417  18766.017123
1    Male            Rich  157.202930  35.326445  23419.799594
2    Male            Poor   88.381713  47.559280  17757.817898
3  Female            Poor  174.670916  43.722550  19911.545173
4    Male    Middle Class  145.540518  28.228207  17931.589155